@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-background-color: #1F2937;
    --quote-background-color: #E5E7EB;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --button-color: #3882F6;
    --information-text-color: var(--dark-background-color) /*Weight: 900*/
    --quote-text-color: var(--dark-background-color)
}

/* Make outline on the different sections of the website */
/* body > * {
    border-color: red;
    border-style: solid;
    border-width: 1px;
} */
body {
    display: flex;
    font-family: Roboto;
    margin: 0px;
    flex-direction: column;
}

/* ------ header ------ */
.header {
    background-color: var(--dark-background-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.header ul {
    display: flex;
    gap: 10px;
}

/* ------ Section 1 ------ */
.section.one {
    background-color: var(--dark-background-color);
    color: var(--main-text-color);
    padding: 5% 10%;
    display: flex;
    align-items: top;
    justify-content: space-between;

}

.one img {
    height: 300px;
    width: auto;
    margin-left: 30px;
    flex: 1;
}
.text.main {
    font-size: 48px;
    font-weight: 900;
}

.section.one p {
    margin: 20px 0;
}

button {
    background-color: var(--button-color);
    color: var(--main-text-color);
    padding: 3px 10px;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
}

.text.sub {
    font-size: 18px;
    color: var(--secondary-text-color)
}

/* Section two */
.section.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.image-wsubtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.image-wsubtext p {
    text-align: center;
    width: 0;
    min-width: 100%;
    
}

.image-wsubtext img {
    border-radius: 10px;
    height: 200px;
    width: auto;
}

/* ---- Section three ---- */
.section.three {
    background-color: var(--quote-background-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.section.three div {
    display: flex;
    flex-direction: column;
}

.section.three q {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.section.three span {
    text-align: right;
    font-weight: 900;
}

/* ---- Section four ---- */
.section.four {
    padding: 5% 10%;
    justify-content: space-between;
}

.section.four > div {
    background-color: var(--button-color);
    border-radius: 10px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.four button {
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    font-size: medium;
    padding: 0 2%;
    height: 28px;
}    

.section.four p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.section.four .sub {
    font-size: 18px;
    font-weight: 200;
}

.footer {
    background-color: var(--dark-background-color);
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 30px;
}



li {
    list-style-type: none;
}